<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/main.css">
  <title>Challenge</title>
</head>

<body>
  <main class="container">
    <header>
      <h1>Coupe du monde du Rugby</h1>
      <h2>Phase finale</h2>
    </header>
    <div>final</div>
    <div>demi</div>
    <div>quart</div>
    <div class="team" id="wales">
      <img src="https://api.iconify.design/twemoji:flag-wales.svg" alt="wales">
    </div>
    <div class="team" id="argentina">
      <img src="https://api.iconify.design/twemoji:flag-for-flag-argentina.svg" alt="argentina">
    </div>
    <div class="team" id="ireland">
      <img src="https://api.iconify.design/twemoji:flag-ireland.svg" alt="ireland">
    </div>
    <div class="team" id="new-zealand">
      <img src="https://api.iconify.design/twemoji:flag-for-flag-new-zealand.svg" alt="new zealand">
    </div>
    <div class="team" id="trophy">
      <img src="https://api.iconify.design/fluent-emoji:trophy.svg" alt="world cup">
    </div>
    <div class="team" id="england">
      <img src="https://api.iconify.design/twemoji:flag-england.svg" alt="england">
    </div>
    <div class="team" id="fiji">
      <img src="https://api.iconify.design/twemoji:flag-for-flag-fiji.svg" alt="fiji">
    </div>
    <div class="team" id="france">
      <img src="https://api.iconify.design/twemoji:flag-france.svg" alt="france">
    </div>
    <div class="team" id="south-africa">
      <img src="https://api.iconify.design/emojione-v1:flag-for-south-africa.svg" alt="south africa">
    </div>
  </main>
</body>

</html>